* {
    box-sizing: border-box;
}
.container {
    max-width: 999px;
    margin-top: 29px;
    margin-bottom: 29px;
    align-self: center;
    width: 99%;
    display: block;
}
body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    color: #484848;
    font-size: 14px; 
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
